section{
    display:grid;
    grid-template-columns:2.5fr 1fr;
    grid-template-rows:70px 500px 70px;
    grid-template-areas:"corban corban corban"
               "bezaleel scepter scepter" 
                "yael yael yael";
gap: 1em;
}
article{
    background-color: aquamarine;
}
article:nth-of-type(1){
    grid-area:corban;
}
article:nth-of-type(2){
    background-image: url(../images/ocean.jpg);
    