.container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,100px 300px);
    gap: 2em;
}
.lamp{
   grid-area:1/1/2/4;
   background-color: aqua;
}
.left{
    grid-area:2/1/3/2;
    background-color: blueviolet;
}
.middle{
    grid-area: 2/2/3/3;
    background-color: coral;
}
.right{
    grid-area: 2/3/3/4;
    background-color: crimson;
}
.footer{
    grid-area:3/1/4/4;
    background-color: salmon;
}