body{
    max-width: 70%;
    margin: 0 auto;
    max-height:70%;
    
}
html{

    background-color:rgb(225, 220, 220);
}
h2{
    text-align:center;
    padding: 1em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:1.5em;
}
.container{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows:450px;
grid-template-areas:"aa bb";
margin-top:1.5em;

}
article{
    grid-area:aa;
    background-color: #FFF;
}
h3{
    font-size:x-large;
    font-style: bold;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    padding-top:1em;
    padding-left: 2em;
}
aside{
    grid-area: bb;
    background-color:crimson;
    text-align:center;
    color:white;
    padding-top:6em;     
}
h1{
    font-size:40px;
}
p{
    font-size:20px;
    margin-top:-20px ;
}
ul{
    list-style-type: none                                                                                                                              ;
}
label{
    display:inline-block;
    width: 10%;
    margin-bottom:2em;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input{
    margin-left:6em;
    width:15em;
    height:1.5em;
    border:solid black 1px;
}

button{
    background-color:crimson;
    margin-left:3.8em;
    border-style: none;
    border-radius: 2em;
    padding-top:1em;
    padding-right:13em;
    padding-left:12em;
    padding-bottom:1em;
    color: white;
    margin-top:-20px;
}
#big{
    border: solid white 2px;
    margin-bottom:10em;
    padding-right:2em;
    padding-left:2em;
    margin-top:0.5em;
    color:white;
    margin-left:2em ;
    margin-right: 3em;
}
