header{
    text-align: center;
    padding-bottom:2em
}
.container{
display:grid;
grid-template-columns:1fr 1fr;
grid-template-rows:50px 300px 150px;
grid-template-areas: "aa aa"
                    "bb cc"
                    "dd dd";
}

nav {
    display:flex;
    justify-content: space-around;
    font-size: 1.2em; 
}
 nav a:hover{
        background-color:greenyellow;
}
nav a{
    text-decoration: none;
    padding: 1em 2em;
}
article{
     grid-area:bb;
    background-color:purple;
    padding-left: 2em;
}
form{
    padding-top: 6em;
    padding-right:1em;
    
}
aside{
    grid-area:cc;
    background-color: darkblue;
    background-image: url(../images/working\ woman.jpg);
    object-fit: cover;
    background-repeat:repeat;
}
footer {
    grid-area: dd;
    background-color: darkgoldenrod;
    padding-bottom: 2em;
    
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    list-style-type: none;

}
li{
    flex: 1;
}




